/* .box{
    background-color: rgb(129, 231, 180);
    height: 300px;
    width: 100px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
} */
 .para{
    color: rgb(0, 0, 0);
 }
 .newclass{
    background-color: purple;
 }s